#buscador{
    height: 40px;
    width: 350px;
    margin-left: 50px;
}

.ordenMaximo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#buscador{
    width: 80%;
    margin-left: 0;
    border-radius: 10px;
}

.crear{
    height: 50px;
    background-color: rgba(206, 6, 8, 0.8);
    color: black;
    border-radius: 10px;    
    margin-left: 30%;
    position: relative;
    right: 110px;
    margin-bottom: 15px;
}

.resultados{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60vw;
    position: relative;
}

.grupoPadre{

    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.padrePadre{
    width: 40vw;
    margin-top: 20px;
}

.card{
    background-color: rgba(123, 137, 134, 0.5);
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px 15px
}

.card > p {
    display: inline-block;
    margin: 0 auto;
}

.card > h4 {
    margin: 7px auto;
}

.card > button {
    border-radius: 10px;
    margin: 7px auto;
    width: 90%;
}

.create{
    background-color: blue;
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.grupoMember{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 80%;
    background-color: rgba(241, 246, 211, 0.8);
    margin: 10px 0;
    border-radius: 10px;
}

.imagen{
    width: 25%;
    margin: auto 0;
}

.imagen > img{
    max-width: 100%;
}

.info > button {
    margin: 10px 0;
}

.imagenBusqueda{
    width: 75px;
    max-width: 100%;
    margin: 7px auto;
    border-radius: 50%
    
}