<div *ngIf='group'>


<h2>
    My group: {{group.name}}
  </h2>

<div class="orden">
    <ul *ngFor='let members of group.members' class="card">
      <div class="imagePadre">
          <li class="image"><img src="{{members.profilePic}}" alt=""></li>
      </div>
      <div> 
        <li><h3>Name: {{members.username}}</h3></li>
        <li><h3>Email: <br>{{members.email}}</h3></li>
        <li><h3>Status: {{members.estatus}}</h3></li>
      </div>

    </ul>
  </div>


<div class="derecha">
  <div>
    <h2>Create a New Favor</h2>
    <input type="text" placeholder="Description" [(ngModel)]='description'>
    <input type="number" placeholder="Cost" [(ngModel)]='cost'>
    <button (click)='createFav( description, cost)'>Create</button>
  </div>

  <div>
    <h2>Make a Favor</h2>
    
    <select name=""  [(ngModel)]='value' (ngModelChange)="selectFavor(value)">
      <option *ngFor='let favor of group.favors' value="{{favor.description}}" class="selectFav" >
        {{favor.description}}
      </option>
    </select>
    <h3 *ngIf='selectedFavor'>cost: {{selectedFavor.cost}} </h3>
    <button>Make It</button>
  </div>  

</div>








</div>