<div *ngIf='group'>


<h2>
  {{group.name}} Group
</h2>

<div class="orden">
    <ul *ngFor='let members of group.members' class="card">
      <div class="imagePadre">
          <li class="image"><img src="{{members.profilePic}}" alt=""></li>
      </div>
      <div> 
        <li><h3>Name: {{members.username}}</h3></li>
        <li><h3>Email: <br>{{members.email}}</h3></li>
        <li><h3>Status: {{members.estatus}}</h3></li>
      </div>

    </ul>
  </div>


<div class="derecha">
  <div class="makeFavor">
    <h2>Create a New Favor</h2>
    <div class="createFavor">
      <input type="text" placeholder="Description" [(ngModel)]='description'>
      <input  type="number" placeholder="Cost" [(ngModel)]='cost'>
      <button class="buttons" (click)='createFav(description,cost)'>Create</button>
    </div>
  </div>

  <div class="makeFavor">
    <h2>Make a Favor</h2>
    <div class="makeFavCard">
      <select name=""  [(ngModel)]='value' (ngModelChange)="selectFavor(value)">
        <option *ngFor='let favor of group.favors' value="{{favor.description}}" class="selectFav" >
          {{favor.description}}
        </option>
      </select>
      <h3 *ngIf='selectedFavor'>cost: {{selectedFavor.cost}} </h3>

      <h3>To:</h3>
      <select name="debtor" id="" [(ngModel)]='debtor'>
        <option *ngFor='let member of group.members'>{{member.username}}</option>
      </select>
      <button class="buttons" (click)='makeFavor(debtor)'>Make It</button>
   </div>
  </div>  

</div>
<div class="balance">
  <div class="haberes">
  <h2>HABERES</h2>
    <div class="haberesCard" *ngFor='let haber of haberes' >

      <h3>
        Deudor: {{haber.deudor[0].username}} <br>
        Deuda: {{haber.total}} ptos
      </h3>

    </div>
  </div>

  <div class="deudas">
      <h2>DEUDAS</h2>
      <div class="deudasCard" *ngFor='let deuda of deudas' >
    
        <h3>
          Acreedor: {{deuda.acreedor[0].username}} <br>
          Deuda: {{deuda.total}} ptos
        </h3>
    
      </div>
    </div>

</div>




<button (click)='info()'>VER info</button>

</div>