.image{
    width: 70px;
    height: 70px;
    margin: auto 0;
}


.parteArriba{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.izquiArriba{
    width: 35vw;
    margin-left: 35px;
}

.dereArriba{
    width: 65vw;
    margin-top: 50px;
}

.imagenMembers {
    margin:  auto;
    max-width: 100%;
    border-radius: 10px;
    width: 80px;
}

.imagenMembersPadre{
    width: 50px;
    margin-left: 5px;
}

.orden{
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;


}
.izquierda{
    width: 33%
}

.card > li {
    margin: auto;
}
.card{
    background-color: rgba(123, 137, 134, 0.5);
    display: inline-block;
    margin: 10px 0;
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    position: relative;

}

.derecha{
    float: right;
    width: 100%;
}

.selectfav{
    width: 150px;
}

.createFavor{
    margin: 0 10px 15px;
    display: flex;
    justify-content: space-evenly;
}

.createFavor > input {
    margin: 0 5px;
    width: 33%
}


.makeFavor{
    display: flex;
    flex-direction: column;
    background-color: rgba(123, 137, 134, 0.5);
    border-radius: 10px;
    margin: 30px auto;
}

.makeFavor > h2 {
    text-align: center;
}

.makeFavCard{
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
height: 30px;
margin-bottom: 15px;

}

.makeFavCard > h3 {
    margin: auto 0
}

.haberesCard{
    background-color: rgba(154, 245, 169, 0.8);
    border-radius: 10px;
    text-align: center;
    width: 25%;
    margin: 15px;
    height: 100px;
}

.haberes{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: ce;
    margin: 10px;
    background-color: rgba(123, 137, 134, 0.5);
    border-radius: 10px;

}

.haberes > h2{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
}

.deudas{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    background-color: rgba(123, 137, 134, 0.5);
    border-radius: 10px;
}

.deudas > h2{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
}

.deudasCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(244, 161, 161, 0.8);
    border-radius: 10px;
    text-align: center;
    width: 33%;
    margin: 15px;
    height: 100px;
}

.balance{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
