.navbar{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 57, 41, 0.75);
    margin-bottom: 25px;
}

.divs{
display: flex;
flex-direction: row;
justify-content: left;
margin: 0;
list-style: none;
}

.divs > li {    

margin-right: 20px;
border: 1px solid white;
border-radius: 10px;
padding: 0 5px;
margin: auto 5px;
}

.divs > li > a {
    color: white;
    text-decoration: none;
}

.logo{
    font-weight: 800;
    
}

.logo > a {
    color: brown;   
}

.orden{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.imagen{
    margin: auto;
    width: 40px;
    border-radius: 10px;
    margin-left: 15px;
}

.especial{
    margin-right: 65px; 
}
