.image{
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.orden{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(123, 137, 134, 0.5);
    text-align: center;
    margin: 10px 15px;
    border-radius: 10px;
     
}